{% extends 'layout.html' %}
{% block content %}
<section id="page-certificacoes" class="section">
            <h2 class="section-title">Certificações e Conquistas</h2>
            <div class="portfolio-card">
                <div class="list-item">
                    <div class="list-item-logo-placeholder">
                        <img src="{{ url_for('static', filename='img/netacad_logo_black.svg') }}" alt="Cisco" class="img-fluid">
                    </div>
                    <div class="list-item-content">
                        <h5>IT Essentials 7</h5>
                        <p class="fw-bold">Cisco Networking Academy</p>
                        <p class="text-muted">Emitido em: 12/2025</p>
                        <a href="https://drive.google.com/file/d/1tVgpMojBDy4rGiqXvQBh00JoePYlK02f/view?usp=drive_link" class="credential-link" target="_blank">
                            Ver certificado <i class="bi bi-box-arrow-up-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
                <div class="portfolio-card">
                <div class="list-item">
                    <div class="list-item-logo-placeholder">
                        <img src="{{ url_for('static', filename='img/netacad_logo_black.svg') }}" alt="Cisco" class="img-fluid">
                    </div>
                    <div class="list-item-content">
                        <h5>Linux Unhatched</h5>
                        <p class="fw-bold">Cisco Networking Academy</p>
                        <p class="text-muted">Emitido em: 10/2025</p>
                        <a href="https://drive.google.com/file/d/1w7JNMm88OmDOEhwQieXwUs2uXYBYXKdU/view?usp=drive_link" class="credential-link" target="_blank">
                            Ver certificado <i class="bi bi-box-arrow-up-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-card">
                <div class="list-item">
                    <div class="list-item-logo-placeholder">
                        <img src="{{ url_for('static', filename='img/cursalogo.png') }}" alt="Cursa" class="img-fluid">
                     </div> 
                    <div class="list-item-content">
                        <h5>Fundamentos de Git</h5>
                        <p class="fw-bold">Cursa</p>
                        <p class="text-muted">Conquistado em: 08/2025</p>
                        <a href="https://drive.google.com/file/d/1AYSLAEdXlFXILYfJfFlSX7bGQw4ZCve_/view?usp=drive_link" class="credential-link" target="_blank">
                            Ver certificado <i class="bi bi-box-arrow-up-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="portfolio-card">
                <div class="list-item">
                    <div class="list-item-logo-placeholder">
                        <img src="{{ url_for('static', filename='img/mobfog.jpeg') }}" alt="MobFog" class="img-fluid">
                     </div> 
                    <div class="list-item-content">
                        <h5>Mostra Brasileira de Foguetes- Medalha de Bronze</h5>
                        <p class="fw-bold">Olimpíada Brasileira de Astronomia e Astronáutica</p>
                        <p class="text-muted">Conquistado em: 10/2024</p>
                        <a href="https://drive.google.com/file/d/1m5oBPFwx4n93Sy08R8t1a3jpnJt4Lz6M/view?usp=drive_link" class="credential-link" target="_blank">
                            Ver certificado <i class="bi bi-box-arrow-up-right ms-1"></i>
                        </a>
                    </div>
                </div>
            </div>   
</section>
{% endblock %}