{% extends 'layout.html' %}
{% block content %}
<section id="page-contato" class="section">
            <h2 class="section-title">Vamos Conversar!</h2>
            <p class="text-center text-muted mb-5">
                Estou aberto a novas oportunidades e colaborações. <br>
                Sinta-se à vontade para entrar em contato através de um dos canais abaixo.
            </p>
            
            <ul class="contact-list">
                <li>
                    <a href="mailto: vini25henrique@gmail.com">
                        <i class="bi bi-envelope-fill text-danger"></i>
                        vini25henrique@gmail.com
                    </a>
                </li>
                <li>
                    <a href="https://br.linkedin.com/in/vinicius-oliveira-amante?trk=profile-badge" target="_blank">
                        <i class="bi bi-linkedin text-primary"></i>
                        LinkedIn
                    </a>
                </li>
                <li>
                    <a href="https://github.com/ViniciusAmante" target="_blank">
                        <i class="bi bi-github text-dark"></i>
                        GitHub
                    </a>
                </li>
            </ul>
</section>
{% endblock %}