{% extends 'layout.html' %}
{% block content %}
<section id="page-curriculo" class="section">
        <h2 class="section-title">Currículo</h2>
            <h3 class="mb-4">Educação</h3>
            <div class="portfolio-card">
                <div class="list-item">
                    <div class="list-item-logo-placeholder">
                        <i class="bi bi-bank fs-3"></i>
                    </div>
                    <div class="list-item-content">
                        <h5>Análise e Desenvolvimento de Sistemas</h5>
                        <p class="fw-bold">[Nome da Instituição]</p>
                        <p class="text-muted">Início: [Mês/Ano] - Conclusão: [Mês/Ano]</p>
                        <p>Descrição breve do curso ou conquistas relevantes.</p>
                    </div>
                </div>
            </div>
        <div class="portfolio-card">
            <div class="list-item">
                <div class="list-item-logo-placeholder">
                    <i class="bi bi-braces fs-3"></i>
                </div>
                <div class="list-item-content">
                    <h5>Curso Técnico de [Nome do Curso]</h5>
                    <p class="fw-bold">[Nome da Instituição]</p>
                    <p class="text-muted">[Ano de Conclusão]</p>
                </div>
            </div>
        </div>
        <h3 class="mt-5 mb-4">Experiência Profissional</h3>
            <div class="portfolio-card text-center">
                <p class="mb-0 text-muted">Buscando minha primeira oportunidade profissional.</p>
            </div>
</section>
{% endblock %}