{% extends 'layout.html' %}
{% block content %}
<section id="page-curriculo">
        <h2 class="section-title">Currículo</h2>
            <h3 class="mb-4">Educação</h3>
            <div class="portfolio-card">
                <div class="list-item">
                    <div class="list-item-logo-placeholder">
                        <img src="{{ url_for('static', filename='img/logofatec.png') }}" alt="Logo Fatec" class="img-fluid">
                    </div>
                    <div class="list-item-content">
                        <h5>Análise e Desenvolvimento de Sistemas</h5>
                        <p class="fw-bold">Fatec</p>
                        <p class="text-muted">Início: 2025-2 - Conclusão: 2028-2</p>
                        <p>Tenho a oportunidade de aprender a desenvolver na prática por meio do API, no qual, em grupo, temos que resolver problemas reais de instituições </p>
                    </div>
                </div>
            </div>
        <div class="portfolio-card">
            <div class="list-item">
                <div class="list-item-logo-placeholder">
                    <img src="{{ url_for('static', filename='img/logoprog2.png') }}" alt="Logo Prog" class="img-fluid">
                </div>
                <div class="list-item-content">
                    <h5>Ensino Médio</h5>
                    <p class="fw-bold">Colégio Progressão</p>
                    <p class="text-muted">Conclusão: 2024</p>
                    <p>Durante o Ensino Médio, pude completar o Intinerário Formativo de 'Games e Modelagem de Design" na Imago de Taubaté</p>
                </div>
            </div>
        </div>
        <h3 class="mt-5 mb-4">Experiência Profissional</h3>
            <div class="portfolio-card text-center">
                <p class="mb-0 text-muted">Buscando minha primeira oportunidade profissional.</p>
            </div>
</section>
{% endblock %}