{% extends 'layout.html' %}
{% block content %}
<section id="page-documentos" class="section">
            <h2 class="section-title">Documentos e Trabalhos</h2>
            <p class="text-center text-muted mb-4">
                Estou documentando uma manutenção de software que fiz utilizando alguns princípios básicos que aprendi no curso "IT Essentials" do Cisco Networking Academy.
            </p>
            <div class="list-group">
                <!--<a href="#" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center portfolio-card">
                    <div>
                        <h6 class="mb-1">Relatório de Manutenção de Software</h6>
                        <small class="text-muted">Matéria: Labioratório de Hardware | [Data]</small>
                    </div>
                    <i class="bi bi-file-earmark-pdf fs-4 text-danger"></i>
                </a>!-->
            </div>
</section>
{% endblock %}
