{% extends 'layout.html' %}
{% block content %}
<section id="page-habilidades" class="section">
            <h2 class="section-title">Habilidades</h2>
            <p class="text-center text-muted mb-5">
                Estas são as tecnologias e ferramentas com as quais tenho trabalhado.
            </p>
            
            <div class="skills-grid">
                <div class="skill-item">
                    <i class="devicon-python-plain colored"></i>
                    <p>Python</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-html5-plain colored"></i>
                    <p>HTML5</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-css3-plain colored"></i>
                    <p>CSS3</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-bootstrap-plain colored"></i>
                    <p>Bootstrap</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-flask-original"></i>
                    <p>Flask</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-javascript-plain colored"></i>
                    <p>JavaScript</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-git-plain colored"></i>
                    <p>Git</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-github-original"></i>
                    <p>GitHub</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-vscode-plain colored"></i>
                    <p>VS Code</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-mysql-plain colored"></i>
                    <p>MySQL</p>
                </div>
            </div>
</section>
{% endblock %}