{% extends 'layout.html' %}
{% block content %}
<section id="page-habilidades" class="section">
            <h2 class="section-title">Habilidades</h2>
            <p class="text-center text-muted mb-5">
                Estas são as tecnologias e ferramentas com as quais tenho trabalhado.
            </p>
            
            <div class="skills-grid">
                <div class="skill-item">
                    <i class="devicon-python-plain colored"></i>
                    <p>Python</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-html5-plain colored" style="font-size: 3rem; color: #ff6435;"></i>
                    <p>HTML5</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-css3-plain colored" style="font-size: 3rem; color: #4163ff;"></i>
                    <p>CSS3</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-bootstrap-plain colored" style="font-size: 3rem; color: #b536ff;"></i>
                    <p>Bootstrap</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-flask-original"></i>
                    <p>Flask</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-jira-plain colored" style="font-size: 3rem; color: #1741ff;"></i>
                    <p>Jira</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-git-plain colored" style="font-size: 3rem; color: #ff4040;"></i>
                    <p>Git</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-github-original"></i>
                    <p>GitHub</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-vscode-plain colored" style="font-size: 3rem; color: #278cff;"></i>
                    <p>VS Code</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-figma-plain colored"></i>
                    <p>Figma</p>
                </div>
                <div class="skill-item">
                    <i class="bi bi-database-fill" style="font-size: 3rem; color: #A4373A;"></i>
                    <p>Access</p>
                </div>
                <div class="skill-item">
                    <i class="bi bi-triangle-fill" style="font-size: 3rem; color: #ffffff;"></i>
                    <p>Vercel</p>
                </div>
                <div class="skill-item">
                    <i class="devicon-linux-plain" style="font-size: 3rem; color: #ffffff;"></i>
                    <p>Linux</p>
                </div>
                <div class="skill-item">
                    <i class="bi bi-amazon" style="font-size: 3rem; color: #ffffff;"></i>
                    <p>AWS</p>
                </div>
                <div class="skill-item">
                    <i class="bi bi-arrows-move" style="font-size: 3rem; color: #ffffff;"></i>
                    <p>UML</p>
                </div>
            </div>
</section>
{% endblock %}