{% extends 'layout.html' %}
{% block content %}
<section id="page-home" class="section active">
            <div class="home-container">
                <div class="home-photo-placeholder">
                    Ftoto
                </div>
                
                <div class="home-text">
                    <h1>Olá, eu sou Vinícius Amante</h1>
                    <p class="lead">
                        Bem-vindo ao meu portfólio. Eu sou um estudante de Análise e Desenvolvimento de Sistemas apaixonado por
                        tecnologia e por encontrar soluções criativas para problemas complexos.
                    </p>
                    <p>
                        Aqui você encontrará detalhes sobre minha jornada acadêmica, os projetos que já desenvolvi na e as
                        habilidades que venho adquirindo na faculdade. Meu objetivo é aplicar meu conhecimento para
                        construir aplicações úteis e eficientes.
                    </p>
                    <a href="{{ url_for('contato') }}" data-page="contato" class="btn btn-clean btn-clean-primary page-link">Entre em Contato</a>
                    <a href="{{ url_for('projetos') }}" data-page="projetos" class="btn btn-clean btn-clean-outline page-link ms-2">Veja meus Projetos</a>
                </div>
            </div>
</section>
{% endblock %}